.dock-outer {
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.dock-panel {
  position: relative;
  display: flex;
  align-items: flex-start;
  /* Grow downwards from top */
  width: fit-content;
  gap: 1.5rem;
  border-radius: 1.5rem;
  background: hsla(225, 40%, 6%, 0.8);
  backdrop-filter: blur(12px);
  border: 1px solid hsla(210, 20%, 95%, 0.1);
  padding: 0.75rem 1.25rem;
}

.dock-item {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #060010;
  border: 1px solid #222;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  outline: none;
}

.dock-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dock-label {
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 50%;
  width: fit-content;
  white-space: pre;
  border-radius: 0.375rem;
  border: 1px solid #222;
  background-color: #060010;
  padding: 0.125rem 0.5rem;
  font-size: 0.75rem;
  color: #fff;
  transform: translateX(-50%);
}